{{ define "main" }}
<div class="ui main container">
  <div class="ui text container">
  <h1 class="ui header">{{ .Title }}</h1>
  {{ .Content }}

  {{ $paginator := .Paginate .Data.Pages }}
  {{ range $i, $e := $paginator.Pages }}

  <h2><a href="{{ .RelPermalink }}">{{ .Title }}</a></h2>
  <div>
    {{ .Params.description }}
    {{ if .Params.pdf }}
     · <span><a href="{{ .Params.pdf }}"><i class="pdf file outline icon"></i> Slides</a></span>
    {{ end }}
    {{ if .Params.video }}
     · <span><i class="film icon"></i> Video</span>
    {{ end }}
  </div>
	
  {{end}}
  {{ partial "pagination.html" . }}
  </div>
</div>
{{ end }}
