<div class="ui inverted vertical footer segment">
  <div class="ui container">
    <div class="ui stackable inverted divided equal height grid">
      <div class="three wide column">
        <h4 class="ui inverted header">Quick</h4>
        <div class="ui inverted link list sans-serif">
	  <a href="/shoutout" class="item">Shoutout</a>
	  <a href="/contact" class="item">Contact</a>
        </div>
      </div>
      <div class="three wide column">
        <h4 class="ui inverted header">Get Involved!</h4>
        <div class="ui inverted link list" style="font-family: PT Sans, sans-serif">
	  <a href="https://twitter.com/neopg_" class="item"><i class="twitter icon"></i> neopg_</a>
	  <a href="https://gitter.im/das-labor/neopg" class="item"><i class="chat icon"></i> Chat</i></a>
          <a href="https://github.com/das-labor/neopg" class="item"><i class="github icon"></i> Development</a>
        </div>
      </div>
      <div class="seven wide column">
        <h4 class="ui inverted header">NeoPG needs your help</h4>
	<div class="ui inverted link list sans-serif">
	  <a class="item" href="https://salt.bountysource.com/teams/{{ .Site.Params.bountysource }}">Donate with Bountysource</a>
	  <a class="item" href="https://www.patreon.com/{{ .Site.Params.patreon }}">Become a patreon</a>
	</div>
      </div>
    </div>
  </div>
</div>
