{{ $pag := $.Paginator }}
{{ if gt $pag.TotalPages 1 }}
<div class="ui divider"></div>
<div class="ui container center aligned">
  <div class="ui pagination menu">
  <!-- We always show the prev arrow. -->
    <a href="{{ if $pag.HasPrev }}{{ $pag.Prev.URL }}{{ end }}" class="{{ if not $pag.HasPrev }}disabled{{ end }} item" aria-label="Previous"><span aria-hidden="true">&laquo; Newer</span></a>
  <!-- Check if we are on page 2 or later (then show first page unconditionally). -->
  {{ if $pag.HasPrev }}
    {{ with $pag.First }}
      <a href="{{ .URL }}" aria-label="First" class="item {{ if eq . $pag }}disabled{{ end }}"><span aria-hidden="true">{{ .PageNumber }}</span></a>
    {{ end }}
 
    <!-- Check if we are on page 3 or later (then show "..." and previous page). -->
    {{ if $pag.Prev.HasPrev }}
      <span class="item">…</span>
      {{ with $pag.Prev }}
        <a href="{{ .URL }}" aria-label="Previous" class="item"><span aria-hidden="true">{{ .PageNumber }}</span></a>
      {{ end }}
    {{ end }}
  {{ end }}

  <!-- We always show the current page. -->
  {{ with $pag }}
    <a href="{{ .URL }}" aria-label="First" class="item {{ if eq . $pag }}disabled{{ end }}"><span aria-hidden="true">{{ .PageNumber }}</span></a>
  {{ end }}

  <!-- Check if we are on the next to last page or earlier (then show last page unconditionally). -->
  {{ if $pag.HasNext }}
    <!-- Check if we are even earlier, then show next page and "...". -->
    {{ if $pag.Next.HasNext }}
      {{ with $pag.Next }}
        <a class="item" href="{{ .URL }}" aria-label="Next"><span aria-hidden="true">{{ .PageNumber }}</span></a>
      {{ end }}
      <span class="item">…</span>
    {{ end }}
    
    {{ with $pag.Last }}
      <a href="{{ .URL }}" aria-label="Last" class="item {{ if eq . $pag }}disabled{{ end }}"><span aria-hidden="true">{{ .PageNumber }}</span></a>
    {{ end }}
  {{ end }}
<!-- We always show the next button. -->
  <a href="{{ if $pag.HasNext }}{{ $pag.Next.URL }}{{ end }}" class="item {{ if not $pag.HasNext }}disabled{{ end }}" aria-label="Next"><span aria-hidden="true">Older &raquo;</span></a>
  </div>
</div>
{{ end }}
